/** This is the style information for CharacterSheet.svelte */
textarea,
.serif {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.box-title {
    font-family: 'Comic Sans MS', sans-serif;
    border-top: #333333 solid 1pt;
    text-align: center;
    text-transform: capitalize;
    font-variant: small-caps;
}

.info-box textarea {
    width:100%;
    height:auto;
    border: #333333 solid 1pt;
    resize: none;
}

.thick-separator {
    border-bottom: #333333 solid 1pt;
    height:3pt;
    padding:0;
    margin:0;
}


