/** This is the style information for CharacterSheet.svelte */
.serif {
    font-family: 'EB Garamond', serif;
}

.box-title {
    font-family: 'Mali', sans-serif;
    border-top: #333333 solid 1pt;
    text-align: center;
    text-transform: capitalize;
    font-variant: small-caps;
}

.info-box textarea {
    width:100%;
    height:auto;
    border: #333333 solid 1pt;
    resize: none;

}

.thick-separator {
    border-bottom: #333333 solid 1pt;
    height:3pt;
    padding:0;
    margin:0;
}

textarea {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
}