@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-SemiBoldItalic.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-Bold.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-SemiBold.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-Italic.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-ExtraLightItalic.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-Regular.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-Medium.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-BoldItalic.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-ExtraLight.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-MediumItalic.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-LightItalic.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: url('../../fonts/mali/subset-Mali-Light.woff2') format('woff2'),
        url('../../fonts/mali/subset-Mali-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

